@font-face {
  font-family: "LexendDeca";
  src: url("/fonts/LexendDeca-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-VariableFont_wght.ttf");
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: coffee --default;
}
@theme {
  --font-lexend: "LexendDeca", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}

h1 {
  @apply text-4xl font-lexend;
}

p {
  @apply font-nunito;
}
